* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	background-color: lightgray;
	height: 100vh;
}

/* Header */

.App {
	position: relative;
	height: 100vh;
	width: 100vw;
}

.header {
	padding: 1em;
	display: flex;
	flex-direction: column;
	background-color: #555455;
	border-radius: 0 0 3% 3%;
	width: 100vw;
}

.profile-img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 50%;
}

.user-details {
	display: flex;
}

.name-title {
	margin-left: 1em;
}

.name-title > h3,
p {
	margin: 0;
	color: whitesmoke;
}

.name-title > p {
	font-size: 12px;
}

.approval-div {
	display: flex;
	justify-content: space-around;
}

.approval-div > h3 {
	color: #f7921d;
	margin-bottom: 0;
}

/* Search Bar */

.searchBar {
	margin-top: 50px;
	display: flex;
	justify-content: center;
	width: 100%;
}

.main-search {
	width: 300px;
	background-color: #ffffff;
}

/* Footer */

.footer-div {
	display: flex;
	background-color: #ffffff;
	position: absolute;
	bottom: 0;
	width: 100vw;
	justify-content: space-around;
	height: 4em;
	align-items: center;
}

.footer-icons {
	font-size: 30px;
	cursor: pointer;
}

.formDiv {
	text-align: center;
	justify-content: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.requestDiv {
	display: flex;
	justify-content: center;
	flex-direction: column;
	/* align-items: center; */
}

.requestInput {
	width: 300px;
	align-self: center;
}

.requestInputShort {
	width: 140px;
}

/* * {
	border: 1px dashed red;
} */

label {
	text-align: left;
}

.amountDiv {
	padding: 0;
	margin: 0;
	position: relative;
}

.pesoSign {
	position: absolute;
	color: gray;
	bottom: 15px;
	left: 5px;
}

.amount {
	padding-left: 20px;
}

.mainDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100vw;
}

.submitBtn {
	background-color: #03a9e7;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
}

.dateNeeded {
	color: #9d9494;
}
